@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&family=Josefin+Sans:wght@500&display=swap');

*{                                                     /*    "*"--> used to change the elements in the inside the navigation bar   */
    margin:0;                                          /*margin used for navgation bar "only rvitm"*/
    padding:0;                                         /* used for other navigation options*/
    text-decoration: none;                             /*removed the default underlines in navigation bar*/
    list-style: none;  
    box-sizing:border-box;
}
nav{
    background-color: blueviolet;                   /*used to change the clolor of the navigation bar*/
    height:80px;
    width: 100%;
    justify-content: space-between;
}
body{
    background-color: rgb(180, 176, 176);
    font-family: 'Josefin Sans', sans-serif;
}
.wrapper{
    margin-top: 10%;
}
.wrapper h1{
    font-family: 'Bubbler One', sans-serif;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
}
.team{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
}
.team .team_member{
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color:black;
    position: relative;
}
.team .team_member h3{
    color:blueviolet;
    font-size: 26px;
    margin-top: 50px;
}
.team .team_member p.role{
    color:rgb(170, 60, 197);
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
}
.team .team_member .team_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%);
    background: #fff;
}
.team .team_member .team_img img{
    width: 100px;
    height: 100px;
}
nav ul{
    float:right;
    margin-right: 20px;
}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a:hover{
    background-color: blueviolet;
}
nav ul ul{
    
    position: absolute;
    top: 60px;
    display: none;
}
nav ul li:hover > ul{
    background-color: rgb(217, 211, 221);
    display: block;
}
nav ul ul li{
    
    width:150px;
    float:none;
    display:list-item;
    position: relative;
}
nav ul ul ul li{
    
    position: relative;
}