*{                                                     /*    "*"--> used to change the elements in the inside the navigation bar   */
    margin:0;                                          /*margin used for navgation bar "only rvitm"*/
    padding:0;                                         /* used for other navigation options*/
    text-decoration: none;                             /*removed the default underlines in navigation bar*/
    list-style: none;  
    box-sizing:border-box;
}
nav{
    background-color: blueviolet;                   /*used to change the clolor of the navigation bar*/
    height:80px;
    width: 100%;
    justify-content: space-between;
}
body{
    background-color: #2C2C2C;
}
nav ul{
    float:right;
    margin-right: 20px;
}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a:hover{
    background-color: blueviolet;
}
nav ul ul{
    
    position: absolute;
    top: 60px;
    display: none;
}
nav ul li:hover > ul{
    background-color: blueviolet;
    display: block;
}
nav ul ul li{
    
    width:150px;
    float:none;
    display:list-item;
    position: relative;
}
nav ul ul ul li{
    
    position: relative;
}